name: Test (PR)
on:
  pull_request:
    branches-ignore:
      - "changeset-release/main"

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: "1.0.28"

      - name: Install Dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Lint, Test, Typecheck
        run: bun turbo build lint test typecheck
